# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

***Objectices:***
List of some open source tools for data science
- MYSQL
- Apache CouchDB
- Hadoop
- Ceph
- Kubeflow

Some popular languages that Data Scientists use are:
1. Python
2. R 
3. SQL
4. Java
5. JavaScript
6. C++
7. Scala

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPY
3. Matplotlib
4. Scikit
5. Seaborn

|Data Science Tools|
|------------------|
|Jupyter Notebook|
|VS Code|
|RStudio|

### Below are a few examples of evaluating arithmetic exression in Python

In [17]:
print(2+1)
print(10-5)
print(2*10)
print(10/2)

3
5
20
5.0

In [19]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [1]:
# This will convert 200 minutes to hours by diving by 60 

200/60

3.3333333333333335